@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    background-color: #24252A;
}

.txt {
    font-family: "Montserrat", sans-serif;
    margin-top: 200px;
    color: #edf0f1;
    text-align: center;
}

.txt h1 {
    margin-bottom: 12px;
}

@media screen and (min-width: 601px) {
    .txt h1{
      font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .txt h1{
      font-size: 20px;
    }
}

@media screen and (min-width: 601px) {
    .txt h2{
      font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .txt h2{
      font-size: 15px;
    }
}


.bt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 480px;
}
@media screen and (max-height: 860px) {
  .bt{
    padding-top: 200px;
  }
}
@media screen and (max-height: 580px) {
  .bt{
    padding-top: 50px;
  }
}
@media screen and (max-height: 180px) {
  .bt{
    position: sticky;
    top: 20px;

  }
}

.bn {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid whitesmoke;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: whitesmoke;
  text-align: center;
  transition: all 0.2s;
  animation: bnbouncy 5s infinite linear;
  position: relative;
}

.bn:hover {
  background-color: #edf0f1;
  color: whitesmoke;
}

@keyframes bnbouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: #24252A;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}